header {
    background-color:darkslateblue;
    color:aliceblue;
    padding: 20px 50px 20px 50px;
}

header h1 {
    margin:0; /*Removes default h1 margin*/
}


nav ul {
    list-style: none;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav ul li a:hover{
    color:whitesmoke;
}

.hero-section {
    background-color:dimgray;
    height: 500px;
    margin: 0; /*Removes default h1 margin*/
    text-align: center;
    color: whitesmoke
}

.hero-section h1 {
    margin:0; /*Removes default h1 margin*/
    text-align: center;
}

.nav-cards {
    background-color: black;
    height: 700px;
    color: whitesmoke
}

.nav-cards h1 {
    margin: 0;
    text-align: center;
}

.front-page-contact-section {
    background-color: darkslateblue;
    height: 250px;
}

.front-page-contact-section h1 {
    margin: 0;
    text-align: center;
}

.btn img.icon{
    width: 300px !important;
    height: 200px !important;
}